@import "./variables";
$header-height-mobile: 60px;
$header-height-desktop: 80px;
$hide-dd-arrwos-desktop: true;
header {
  height: $header-height-desktop;
  .nav-bar-menu {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      li {
        a, span {
          color: theme-color('color-1');
          font-size: $label-font-size;
          margin: 0 8px;
        }
      }
    }
  }
}





