$font-size-base: 1rem !default;
$font-family-sans-serif: 'Assistant', sans-serif !default;
$font-family-base: $font-family-sans-serif;
$spacer: 2rem;

$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

$h1-font-size: $font-size-base * 3.43 !default;
$h1-font-size-mobile: $font-size-base * 2.5 !default;
$h1-font-weight: 700;
$h2-font-size: $font-size-base * 2.5 !default;
$h2-font-size-mobile: $font-size-base * 2.18 !default;
$h2-font-weight: 700;
$h3-font-size: $font-size-base * 1.87 !default;
$h3-font-size-mobile: $font-size-base * 1.87 !default;
$h3-font-weight: 700;
$h4-font-size: $font-size-base * 1.56 !default;
$h4-font-size-mobile: $font-size-base * 1.56 !default;
$h4-font-weight: 400;
$h5-font-size: $font-size-base * 1.25 !default;
$h5-font-size-mobile: $font-size-base * 1.25 !default;
$h5-font-weight: 500;
$h6-font-size: $font-size-base * 1.12 !default;
$h6-font-size-mobile: $font-size-base * 1.12 !default;
$h6-font-weight: 700;
$p-font-size: $font-size-base * 1.06 !default;
$p-font-size-mobile: $font-size-base * 1.06 !default;
$p-font-weight: 400;

$slider-title-font-size: $font-size-base * 3.43 !default;
$slider-title-font-size-mobile: $font-size-base * 2.5 !default;
$slider-title-font-weight: 700;
$slider-subtitle-font-size: $font-size-base * 2.5 !default;
$slider-subtitle-font-size-mobile: $font-size-base * 2.18 !default;
$slider-subtitle-font-weight: 700;

$label-font-size: $font-size-base * 1.1 !default;
$bread-crumbs-font-size: $font-size-base * 0.93 !default;
$bread-crumbs-font-weight: 400;

$blockquote-font-size: $font-size-base * 1.25 !default;

$icon-xxs: $font-size-base * 0.7 !default;
$icon-xs: $font-size-base * 1.07 !default;
$icon-s: $font-size-base * 1.6 !default;
$icon-m: $font-size-base * 2.13 !default;
$icon-l: $font-size-base * 3.2 !default;
$icon-xl: $font-size-base * 4.27 !default;
$icon-xxl: $font-size-base * 8 !default;
$white: #fff !default;
$black: #3d3830 !default;
$danger: #dc2227 !default;
$body-color: #3d3830 !default;
$yiq-text-light: #fff !default;
$yiq-text-dark: #3d3830 !default;
$theme-colors: ("color-1" : #b2b6c2, "color-2" : #b2b6c2, "color-3" : #66ddce, "color-4" : #f6fafa, "color-5": #d5f5f2, 'color-6': #F0B5C9);
$link-color: #3d3830;
$link-decoration: none;
$link-hover-decoration: none;
$input-btn-font-size: 1.07rem;
$input-btn-padding-y: .400rem !default;
$input-btn-padding-x: .75rem !default;
$input-border-radius: 5px;
$input-bg: #fff;
$input-border-width: 1px;
$input-border-color: #3d3830;
$input-focus-border-color: #8d8d8d;
$btn-font-size: 1.07rem;
$btn-border-radius: 5px;
$btn-padding-x: 2.5rem !default;
$btn-padding-y: 0.50rem !default;
$btn-border-width: 2px !default;
$btn-line-height: 1.7 !default;
$border-radius: $font-size-base;

//$box-shadow-sm: 0px 0px 10px 0px rgba(#66ddce, 0.5) !default;
//$box-shadow: 0px 15px 15px 0px rgba(#66ddce, 0.15) !default;
//$box-shadow-lg: 0px 30px 30px 0px rgba(#66ddce, 0.15) !default;
